---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed?url=https://www.youtube.com/watch?v=7q5Ltr0qc8c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '{"author_url": "http:\/\/www.youtube.com\/user\/billyonthestreettv",
        "thumbnail_width": 480, "height": 270, "author_name": "billyonthestreettv",
        "title": "Billy on the Street: Amateur Speed Sketching!", "width": 480, "provider_name":
        "YouTube", "version": "1.0", "html": "\u003ciframe width=\"480\" height=\"270\"
        src=\"http:\/\/www.youtube.com\/embed\/7q5Ltr0qc8c?feature=oembed\" frameborder=\"0\"
        allowfullscreen\u003e\u003c\/iframe\u003e", "provider_url": "http:\/\/www.youtube.com\/",
        "thumbnail_url": "http:\/\/i1.ytimg.com\/vi\/7q5Ltr0qc8c\/hqdefault.jpg",
        "type": "video", "thumbnail_height": 360}'
  recorded_at: Tue, 10 Jun 2014 19:31:20 GMT
recorded_with: VCR 2.9.2
