---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed?url=https://www.youtube.com/watch?v=7q5Ltr0qc8c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '{"thumbnail_width": 480, "type": "video", "height": 270, "author_name":
        "billyonthestreettv", "thumbnail_url": "http:\/\/i1.ytimg.com\/vi\/7q5Ltr0qc8c\/hqdefault.jpg",
        "html": "\u003ciframe width=\"480\" height=\"270\" src=\"http:\/\/www.youtube.com\/embed\/7q5Ltr0qc8c?feature=oembed\"
        frameborder=\"0\" allowfullscreen\u003e\u003c\/iframe\u003e", "title": "Billy
        on the Street: Amateur Speed Sketching!", "author_url": "http:\/\/www.youtube.com\/user\/billyonthestreettv",
        "provider_name": "YouTube", "width": 480, "version": "1.0", "thumbnail_height":
        360, "provider_url": "http:\/\/www.youtube.com\/"}'
  recorded_at: Tue, 10 Jun 2014 19:33:02 GMT
recorded_with: VCR 2.9.2
