---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed?url=https://www.youtube.com/watch?v=lC0JFXw_6kQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"version": "1.0", "author_url": "http:\/\/www.youtube.com\/user\/BINKBEATSmusic",
        "thumbnail_url": "http:\/\/i1.ytimg.com\/vi\/lC0JFXw_6kQ\/hqdefault.jpg",
        "provider_url": "http:\/\/www.youtube.com\/", "thumbnail_width": 480, "type":
        "video", "title": "BINKBEATS Beats Unraveled #6: J. Dilla Live Mixtape", "provider_name":
        "YouTube", "height": 270, "html": "\u003ciframe width=\"480\" height=\"270\"
        src=\"http:\/\/www.youtube.com\/embed\/lC0JFXw_6kQ?feature=oembed\" frameborder=\"0\"
        allowfullscreen\u003e\u003c\/iframe\u003e", "author_name": "BINKBEATSmusic",
        "width": 480, "thumbnail_height": 360}'
  recorded_at: Sun, 22 Jun 2014 23:16:49 GMT
recorded_with: VCR 2.9.2
