---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed?url=https://www.youtube.com/watch?v=fq-xGD_thXo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"version": "1.0", "author_name": "Pete Holmes", "provider_name": "YouTube",
        "thumbnail_url": "http:\/\/i1.ytimg.com\/vi\/fq-xGD_thXo\/hqdefault.jpg",
        "author_url": "http:\/\/www.youtube.com\/user\/peteholmes", "width": 480,
        "thumbnail_height": 360, "provider_url": "http:\/\/www.youtube.com\/", "html":
        "\u003ciframe width=\"480\" height=\"270\" src=\"http:\/\/www.youtube.com\/embed\/fq-xGD_thXo?feature=oembed\"
        frameborder=\"0\" allowfullscreen\u003e\u003c\/iframe\u003e", "height": 270,
        "type": "video", "thumbnail_width": 480, "title": "Pete Meets Olympic Freestyle
        Skier Torin Yater-Wallace"}'
  recorded_at: Sun, 22 Jun 2014 19:23:23 GMT
recorded_with: VCR 2.9.2
