*.a
*.gem
*.o
*.rbc
*.so
.bundle
.config
.yardoc
/*.bundle
/.ruby-version
/Gemfile.lock
/coverage
/doc/
/lib/bundler/man
/spec/cassettes/**/*.yml
/spec/reports
/test/tmp
/test/version_tmp
/tmp
InstalledFiles
_yardoc
mkmf.log
pkg
rdoc
