---
http_interactions:
- request:
    method: get
    uri: http://www.hulu.com/api/oembed.json?url=http://www.hulu.com/watch/285095
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"thumbnail_height":80,"type":"video","cache_age":3600,"title":"Remedial
        Chaos Theory (Community)","width":512,"large_thumbnail_url":"http://ib.huluim.com/video/50172061?size=512x288&caller=h1o&img=i","thumbnail_url":"http://ib.huluim.com/video/50172061?size=145x80&caller=h1o&img=i","duration":1286.87,"large_thumbnail_width":512,"height":296,"embed_url":"http://www.hulu.com/embed.html?eid=CbtnRM8PBJsCfZpUy2V3Yg","html":"<iframe
        width=\"512\" height=\"296\" src=\"http://www.hulu.com/embed.html?eid=CbtnRM8PBJsCfZpUy2V3Yg\"
        frameborder=\"0\" scrolling=\"no\" webkitAllowFullScreen mozallowfullscreen
        allowfullscreen> </iframe>","version":"1.0","air_date":"Thu Oct 13 00:00:00
        UTC 2011","large_thumbnail_height":288,"author_name":"NBC","provider_name":"Hulu","thumbnail_width":145,"provider_url":"http://www.hulu.com/"}'
  recorded_at: Tue, 10 Jun 2014 19:33:08 GMT
recorded_with: VCR 2.9.2
