---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed?url=https://www.youtube.com/watch?v=7q5Ltr0qc8c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"thumbnail_height": 360, "html": "\u003ciframe width=\"480\" height=\"270\"
        src=\"http:\/\/www.youtube.com\/embed\/7q5Ltr0qc8c?feature=oembed\" frameborder=\"0\"
        allowfullscreen\u003e\u003c\/iframe\u003e", "title": "Billy on the Street:
        Amateur Speed Sketching!", "height": 270, "provider_name": "YouTube", "author_url":
        "http:\/\/www.youtube.com\/user\/billyonthestreettv", "type": "video", "author_name":
        "billyonthestreettv", "thumbnail_url": "http:\/\/i1.ytimg.com\/vi\/7q5Ltr0qc8c\/hqdefault.jpg",
        "provider_url": "http:\/\/www.youtube.com\/", "thumbnail_width": 480, "version":
        "1.0", "width": 480}'
  recorded_at: Fri, 06 Jun 2014 02:59:55 GMT
recorded_with: VCR 2.9.2
