---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed?url=https://www.youtube.com/watch?v=7q5Ltr0qc8c
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"type": "video", "provider_url": "http:\/\/www.youtube.com\/", "thumbnail_url":
        "http:\/\/i1.ytimg.com\/vi\/7q5Ltr0qc8c\/hqdefault.jpg", "thumbnail_height":
        360, "width": 480, "provider_name": "YouTube", "author_url": "http:\/\/www.youtube.com\/user\/billyonthestreettv",
        "title": "Billy on the Street: Amateur Speed Sketching!", "thumbnail_width":
        480, "version": "1.0", "html": "\u003ciframe width=\"480\" height=\"270\"
        src=\"http:\/\/www.youtube.com\/embed\/7q5Ltr0qc8c?feature=oembed\" frameborder=\"0\"
        allowfullscreen\u003e\u003c\/iframe\u003e", "height": 270, "author_name":
        "billyonthestreettv"}'
  recorded_at: Tue, 15 Apr 2014 02:52:17 GMT
recorded_with: VCR 2.9.0
