---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed?url=https://www.youtube.com/watch?v=7q5Ltr0qc8c
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '{"title": "Billy on the Street: Amateur Speed Sketching!", "author_name":
        "billyonthestreettv", "height": 270, "width": 480, "thumbnail_width": 480,
        "author_url": "http:\/\/www.youtube.com\/user\/billyonthestreettv", "thumbnail_height":
        360, "type": "video", "thumbnail_url": "http:\/\/i1.ytimg.com\/vi\/7q5Ltr0qc8c\/hqdefault.jpg",
        "provider_url": "http:\/\/www.youtube.com\/", "html": "\u003ciframe width=\"480\"
        height=\"270\" src=\"http:\/\/www.youtube.com\/embed\/7q5Ltr0qc8c?feature=oembed\"
        frameborder=\"0\" allowfullscreen\u003e\u003c\/iframe\u003e", "version": "1.0",
        "provider_name": "YouTube"}'
  recorded_at: Sun, 13 Apr 2014 22:37:31 GMT
recorded_with: VCR 2.9.0
