---
http_interactions:
- request:
    method: get
    uri: http://vimeo.com/api/oembed.json?url=https://vimeo.com/31158841&width=400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5ffeebb02a34c4b0edaf908978ae3dc7a08a8994"'
      Last-Modified:
      - Fri, 06 Jun 2014 02:09:21 GMT
      Content-Type:
      - application/json
      X-Varnish-Cache:
      - '0'
      Nncoection:
      - close
      X-Vserver:
      - dfvimeowebproxy3
    body:
      encoding: UTF-8
      string: '{"type":"video","version":"1.0","provider_name":"Vimeo","provider_url":"https:\/\/vimeo.com\/","title":"Murmuration","author_name":"Islands
        & Rivers","author_url":"http:\/\/vimeo.com\/islandsandrivers","is_plus":"1","html":"<iframe
        src=\"\/\/player.vimeo.com\/video\/31158841\" width=\"400\" height=\"300\"
        frameborder=\"0\" title=\"Murmuration\" webkitallowfullscreen mozallowfullscreen
        allowfullscreen><\/iframe>","width":400,"height":300,"duration":123,"description":"www.islandsandrivers.com\n\nFacebook:
        Islands And Rivers\n\nFollow us @Islands_Rivers\n\nA chance encounter and
        shared moment with one of natures greatest and most fleeting phenomena.","thumbnail_url":"http:\/\/i.vimeocdn.com\/video\/448600816_295x166.jpg","thumbnail_width":295,"thumbnail_height":221,"video_id":31158841}'
  recorded_at: Fri, 06 Jun 2014 02:59:55 GMT
recorded_with: VCR 2.9.2
