---
http_interactions:
- request:
    method: get
    uri: http://api.instagram.com/oembed?url=http://instagram.com/p/oBkLq7hnDP
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 13 Apr 2014 19:06:59 GMT
      Etag:
      - ! '"3ee9abac968dd90ff3d61a6c3ed1e6aac5a93a7d"'
      Content-Type:
      - application/json
      X-Varnish-Cache:
      - '0'
      Cneonction:
      - close
      X-Vserver:
      - 10.90.128.147
    body:
      encoding: UTF-8
      string: |
        {"provider_url":"http://instagram.com/","media_id":"721016547040456911_195995411","title":"Very stupid package!","url":"http://videos-h-17.ak.instagram.com/hphotos-ak-xpa1/10357107_1419962164942557_1070438508_n.mp4","author_name":"bonch_bruevich","height":640,"width":640,"version":"1.0","author_url":"http://instagram.com/bonch_bruevich","author_id":195995411,"type":"photo","provider_name":"Instagram"}
  recorded_at: Sun, 01 Jun 2014 02:52:17 GMT
recorded_with: VCR 2.9.0
