---
http_interactions:
- request:
    method: get
    uri: http://www.rdio.com/api/oembed/?url=http://www.rdio.com/artist/Sam_Smith/album/In_The_Lonely_Hour/track/Stay_With_Me
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Srv:
      - srv-211-08
      Content-Language:
      - en
      X-Version:
      - '720'
    body:
      encoding: UTF-8
      string: '{"provider_url": "http://www.rdio.com", "version": "1.0", "thumbnail_width":
        200, "height": 80, "thumbnail_height": 200, "title": "Stay With Me", "html":
        "<iframe width=\"400\" height=\"80\" src=\"https://rd.io/i/QitAvh43//?source=oembed\"
        frameborder=\"0\"></iframe>", "width": 400, "thumbnail_url": "http://rdio3img-a.akamaihd.net/album/2/5/2/000000000043b252/3/square-400.jpg",
        "provider_name": "Rdio", "type": "rich"}'
  recorded_at: Fri, 12 Sep 2014 22:48:26 GMT
recorded_with: VCR 2.9.3
