---
http_interactions:
- request:
    method: get
    uri: http://www.rdio.com/api/oembed/?url=http://www.rdio.com/artist/Sam_Smith/album/In_The_Lonely_Hour/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Srv:
      - srv-210-27
      Content-Language:
      - en
      X-Version:
      - '720'
    body:
      encoding: UTF-8
      string: '{"provider_url": "http://www.rdio.com", "version": "1.0", "thumbnail_width":
        200, "height": 400, "thumbnail_height": 200, "title": "In The Lonely Hour",
        "html": "<iframe width=\"400\" height=\"400\" src=\"https://rd.io/i/Qj4B7RE//?source=oembed\"
        frameborder=\"0\"></iframe>", "width": 400, "thumbnail_url": "http://rdio3img-a.akamaihd.net/album/2/5/2/000000000043b252/3/square-400.jpg",
        "provider_name": "Rdio", "type": "rich"}'
  recorded_at: Thu, 11 Sep 2014 02:34:42 GMT
recorded_with: VCR 2.9.3
