---
http_interactions:
- request:
    method: get
    uri: http://rutube.ru/api/oembed/?format=json&url=http://rutube.ru/video/586afc0f5c652439a2dca8b34d19a086/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"type":"video","version":1,"title":"rabbit eat raspberry","width":720,"height":405,"provider_url":"http://rutube.ru","thumbnail_width":640,"thumbnail_height":360,"provider_name":"rutube","cache_age":180,"html":"<iframe width=\"720\" height=\"405\" src=\"//rutube.ru/play/embed/6972736\" frameborder=\"0\" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>","thumbnail_url":"http://pic.rutube.ru/video/1a/f5/1af5b1157194a7a9880a22f9014824ba.jpg?size=l","author_name":"Забавные животные","author_url":"http://rutube.ru/video/person/12144/"}'
  recorded_at: Fri, 06 Jun 2014 02:59:56 GMT
recorded_with: VCR 2.9.2
