---
http_interactions:
- request:
    method: get
    uri: http://www.dailymotion.com/services/oembed?url=https://www.dailymotion.com/video/xf02xp_uffie-difficult_music
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Dm-Backnode:
      - web-055.adm.dailymotion.com:80
      Content-Type:
      - application/json
      X-Dm-Lb:
      - 195.8.215.136
      X-Response-Time:
      - 0.046583 seconds
      X-Dm-Page:
      - in.html.oembed
    body:
      encoding: UTF-8
      string: '{"type":"video","version":"1.0","provider_name":"Dailymotion","provider_url":"http:\/\/www.dailymotion.com","title":"Uffie
        - Difficult","author_name":"Uffie","author_url":"http:\/\/www.dailymotion.com\/Uffie","width":480,"height":276,"html":"<iframe
        src=\"http:\/\/www.dailymotion.com\/embed\/video\/xf02xp\" width=\"480\" height=\"276\"
        frameborder=\"0\"><\/iframe>","thumbnail_url":"http:\/\/s1.dmcdn.net\/YITp\/x240-GT0.jpg","thumbnail_width":320,"thumbnail_height":240}'
  recorded_at: Tue, 10 Jun 2014 19:33:06 GMT
recorded_with: VCR 2.9.2
