---
http_interactions:
- request:
    method: get
    uri: http://coub.com/api/oembed.json?url=http://coub.com/view/rcd14cm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"type":"video","version":"1.0","width":"942","height":"720","title":"voodoo
        people","url":"http://coub.com/view/rcd14cm","thumbnail_url":"http://cdn1.akamai.coub.com/coub/simple/cw_image/8007107badd/a0f3e90c986074ac81f30/med_1374583486_00033.jpg","thumbnail_width":"640","thumbnail_height":"488","author_name":"\u0418\u0433\u043e\u0440\u044c","author_url":"http://coub.com/coubcreator","provider_name":"Coub","provider_url":"http://coub.com/","html":"<iframe
        src=\"http://coub.com/embed/rcd14cm\" allowfullscreen=\"true\" frameborder=\"0\"
        width=\"640\" height=\"489\"></iframe>"}'
  recorded_at: Tue, 10 Jun 2014 19:31:26 GMT
recorded_with: VCR 2.9.2
