---
http_interactions:
- request:
    method: get
    uri: http://api.instagram.com/oembed?url=http://instagram.com/p/oBkLq7hnDP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"provider_url":"http:\/\/instagram.com\/","media_id":"721016547040456911_195995411","title":"Very
        stupid package! \ud83d\ude40","url":"http:\/\/videos-h-17.ak.instagram.com\/hphotos-ak-xap1\/10357107_1419962164942557_1070438508_n.mp4","author_name":"bonch_bruevich","height":640,"width":640,"version":"1.0","author_url":"http:\/\/instagram.com\/bonch_bruevich","author_id":195995411,"type":"photo","provider_name":"Instagram"}'
  recorded_at: Sat, 14 Jun 2014 18:30:49 GMT
recorded_with: VCR 2.9.2
